<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Mọt Shop</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Họ">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Tên">
                        </div>
                        <div class="col-lg-12">
                            <input type="email" placeholder="E-mail">
                            <input type="text" placeholder="Chủ đề">
                            <textarea placeholder="Nội dung"></textarea>
                        </div>
                        <div class="col-lg-12 text-right">
                            <button type="submit">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="contact-widget">
                    <div class="cw-item">
                        <h5>Địa chỉ</h5>
                        <p>Khánh Tâm,Khánh Hợp,<br>Nghi Lộc,Nghệ An</p>
                    </div>
                    <div class="cw-item">
                        <h5>Số điện thoại</h5>
                        <ul>
                            <li>0343141166</li>
                            <li>0972905313</li>
                        </ul>
                    </div>
                    <div class="cw-item">
                        <h5>E-mail</h5>
                        <ul>
                            <li>nguyentai2511myv@gmail.com</li>
                            <li>hoangxoan@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="row">
                <div class="col-lg-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3776.8728457104985!2d105.69433473178081!3d18.803819187283516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139d5c49c016241%3A0xf1260498972842f0!2zTeG7jXQgU2hvcA!5e0!3m2!1svi!2s!4v1582039482993!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                        height="560" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
