
.header-section {
	height: 104px;
	padding-top: 38px;
	padding-bottom: 24px;
	padding-left: 45px;
	padding-right: 45px;
}

.inner-header .logo {
	float: left;
}

.navbar{
	display: block !important;
}

.inner-header .header-right {
	float: right;
	line-height: 30px;

}

.inner-header .header-right img {
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}

.inner-header .header-right a {
	display: inline-block;
	position: relative;
}

.inner-header .header-right a span {
	font-size: 11px;
	color: #1e1e1e;
	width: 18px;
	height: 18px;
	border: 2px solid #D0D7DB;
	background: #fff;
	display: inline-block;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	font-weight: 600;
	position: absolute;
	left: -9px;
	top: 14px;
}

.inner-header .user-access {
	float: right;
}

.inner-header .user-access a {
	color: #1e1e1e;
	font-size: 16px;
	display: inline-block;
	font-weight: 500;
	position: relative;
}

.inner-header .user-access a.in {
	color: #838383;
	margin-left: 15px;
	position: relative;
}

.inner-header .user-access a.in::before {
	position: absolute;
	left: -13px;
	top: 1px;
	color: #1e1e1e;
	content: "/";
}

.inner-header .main-menu{
	z-index: 3;
	padding-top: 0px;
}

.inner-header .main-menu ul li {
	display: inline-block;
	margin-left: 60px;
	position: relative;
}

.inner-header .main-menu ul li a {
	color: #1e1e1e;
	font-size: 16px;
	display: inline-block;
	font-weight: 500;
	position: relative;
}

.inner-header .main-menu ul li a.active:after {
	opacity: 1;
}

.inner-header .main-menu ul li a:hover:after {
	opacity: 1;
}

.inner-header .main-menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 7px;
	width: 100%;
	height: 2px;
	background: #1e1e1e;
	content: "";
	opacity: 0;
	-webkit-transform: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.inner-header .main-menu ul li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.inner-header .main-menu ul li .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.2);
}

.inner-header .main-menu ul li .sub-menu li {
	display: block;
	margin: 0;
}

.inner-header .main-menu ul li .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 0px 20px;
	font-size: 14px;
	line-height: 2.3;
}

.inner-header .main-menu ul li .sub-menu li a:after {
	display: none;
}

.slicknav_menu {
	display: none;
}

/*---------------------
  Search Bar
-----------------------*/

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: none;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	padding-top: 6px;
	font-size: 26px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	font-weight: 300;
}

/*---------------------
  Header Info
-----------------------*/

.header-info {
	background: #B0BCC2;
	overflow: hidden;
	padding: 10px 45px;
}

.header-info .header-item {
	overflow: hidden;
}

.header-info .header-item img {
	display: inline-block;
	margin-right: 13px;
}

.header-info .header-item p {
	display: inline-block;
	line-height: 1;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 0;
	position: relative;
	top: 3px;
}

/* responsive */

@media only screen and (max-width: 1300px){
    .inner-header .main-menu ul li {
        margin-left: 30px !important;
    }
}

@media only screen and (max-width: 991px) {

    .inner-header .main-menu .navbar-collapse .navbar-nav{
	    background-color: rgba(0, 0, 0, 0.2);
	}
	
	.inner-header .main-menu ul li a{
		line-height: 30px;
	}
}