
<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header row">
            <div class="logo col-sm-3 col-md-3 col-3">
                <a routerLink = ""><img src="../../assets/img/logos/logomot.jpg "></a>
            </div>
            <nav class="main-menu col-sm-7 col-md-5 col-5 text-center navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarResponsive" style="">
                <ul class="navbar-nav justify-content-center ">
                    <li class="nav-item"><a class="nav-link " routerLink="nu">NỮ</a>
                        <ul class="sub-menu">
                            <li><a  routerLink ="somi">PHÔNG NỮ</a></li>
                            <li><a  routerLink ="vay">VÁY</a></li>
                            <li><a  routerLink ="jeans">JEANS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link " routerLink ="betrai">BÉ TRAI</a></li>
                    <li class="nav-item"><a class="nav-link " routerLink ="begai">BÉ GÁI</a></li>
                    <li class="nav-item"><a class="nav-link " routerLink ="sale">SALE</a></li>
                    <li class="nav-item"><a class="nav-link " routerLink ="lienhe">LIÊN HỆ</a></li>
                </ul>
                </div>
            </nav>
            <div class="header-right col-sm-2 col-md-4 col-4 text-right  d-flex">
                <a>
                    <img src="../../assets/img/icons/search.png" alt="" class="search-trigger">
                </a>
                <a routerLink ="info">
                    <img src="../../assets/img/icons/man.png" alt="">
                </a>
                <a routerLink ="shoppingcart">
                    <img src="../../assets/img/icons/bag.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Header Info Begin -->
<div class="header-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="header-item">
                    <img src="../../assets/img/icons/delivery.png" alt="">
                    <p>Miễn phí ship cho đơn hàng trên 499.000đ</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                    <img src="../../assets/img/icons/voucher.png" alt="">
                    <p>Giảm giá 20% cho học sinh</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                <img src="../../assets/img/icons/sales.png" alt="">
                <p>Giảm 30% khi mua áo phông</p>
            </div>
            </div>
        </div>
    </div>
</div>
