<div class="to">
        <div class="form">
            <h2>Đăng ký thành viên</h2>
            <i class="fab fa-app-store-ios"></i>
            <label>Họ và tên</label>
            <input type="text" name="hoten">
            <label>Số điện thoại</label>
            <input type="text" name="sdt">    
            <label>Email</label>
            <input type="text" name="email"> 
            <label>Mật khẩu</label>
            <input type="password" name="password"> 
            <input id="submit" type="submit" name="submit" value="Gửi">
        </div>                
    </div>