<section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h4>SẢN PHẨ ĐƯỢC YÊU THÍCH</h4>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="../../assets/img/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->
    
    <!-- Categories Page Section Begin -->
    <section class="categories-page spad">
        <div class="container">
            <div class="categories-controls">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="categories-filter">                       
                            <div class="cf-right">
                                <span>20 Products</span>
                                <a href="#">2</a>
                                <a href="#" class="active">4</a>
                                <a href="#">6</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea//nữ/25a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea//nữ/25b.jpg" class="pop-up"><img src="../../assets/img/Bea//nữ/25b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>áo nữ</h6>                          <p>99.000</p>
                               
                                
                           
                            </a>
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="../../assets/img/Bea//nữ/ao-so-mi-nu-tay-ngan-43.jpg" alt="">
                                    <div class="p-status sale">sale</div>
                                </figure>
                                <div class="product-text">
                                    <a href="#">
                                        <h6>áo nữ</h6>                          <p>99.000</p>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="../../assets/img/Bea//nữ/24a.jpg" alt="">
                                    <div class="p-status sale">sale</div>
                                    <div class="hover-icon">
                                        <a href="../../assets/img/Bea//nữ/24b.jpg" class="pop-up"><img
                                                src="../../assets/img/Bea//nữ/24b.jpg" alt=""></a>
                                    </div>
                                </figure>
                                <div class="product-text">
                                    <a href="#">
                                        <h6>áo nữ</h6>                          <p>99.000</p>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="../../assets/img/Bea/Bé trai/25c.jpg" alt="">
                                    <div class="p-status sale">sale</div>
                                </figure>
                                <div class="product-text">
                                    <a href="#">
                                        <h6>bộ bé trai</h6>                          <p>99.000</p>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="../../assets/img/Bea/Bé trai/24a.jpg" alt="">
                                    <div class="hover-icon">
                                        <a href="../../assets/img/Bea/Bé trai/24b.jpg" class="pop-up"><img
                                                src="../../assets/img/Bea/Bé trai/24b.jpg" alt=""></a>
                                    </div>
                                    <div class="p-status sale">sale</div>
                                </figure>
                                <div class="product-text">
                                    <a href="#">
                                        <h6>bộ bé trai</h6>                          <p>99.000</p>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé gái/2a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/2b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/2b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé gái/3a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/3b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/3b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé trai/25a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé trai/25b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/25b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé trai</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé trai/26a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé trai/26b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/26b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé trai</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea//nữ/27a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea//nữ/27b.jpg" class="pop-up"><img src="../../assets/img/Bea//nữ/27b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>áo nữ</h6>                          <p>99.000</p>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé trai/27a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé trai/27b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/27b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé trai</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Phông nữ/25b.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Phông nữ/25a.jpg" class="pop-up"><img src="../../assets/img/Bea/Phông nữ/25a.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>áo nữ</h6>                          <p>99.000</p>
                            </a>
                          
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Phông nữ/24a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/24b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/24b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea//nữ/28a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea//nữ/28b.jpg" class="pop-up"><img src="../../assets/img/Bea//nữ/28b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>áo nữ</h6>                         <p>99.000</p>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé trai/28a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé trai/28b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/28b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé trai</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé gái/9a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/9b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/9b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                          
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé gái/8a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/8b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/8b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé gái/7a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/7b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/7b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé gái/6a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/6b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/6b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea//nữ/29a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea//nữ/29b.jpg" class="pop-up"><img src="../../assets/img/Bea//nữ/29b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>áo nữ</h6>                        <p>99.000</p>
                            </a>
                          
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé trai/29a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé trai/29b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/29b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé trai</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé gái/5a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/5B.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/5b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé gái/29a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé gái/29b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/29b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé gái</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Bé trai/30a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Bé trai/30b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/30b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>bộ bé trai</h6>                          <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea//nữ/30a.jpg" alt="">
                            <div class="p-status sale">sale</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea//nữ/30b.jpg" class="pop-up"><img src="../../assets/img/Bea//nữ/30b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
    
                                <h6>áo nữ</h6>                         <p>99.000</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    