<section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h4>VÁY NỮ</h4>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="../../assets/img/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->
    
    <!-- Categories Page Section Begin -->
    <section class="categories-page spad">
        <div class="container">
            <div class="categories-controls">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="categories-filter">                       
                            <div class="cf-right">
                                <span>20 Products</span>
                                <a href="#">2</a>
                                <a href="#" class="active">4</a>
                                <a href="#">6</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/9c.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/9d.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/9d.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="../../assets/img/Bea/Váy/13c.jpg" alt="">
                                    <div class="p-status">149.000</div>
                                </figure>
                                <div class="product-text">
                                    <a href="#">
                                        <h6>váy nữ</h6>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="../../assets/img/Bea/Váy/2a.jpg" alt="">
                                    <div class="p-status">149.000</div>
                                    <div class="hover-icon">
                                        <a href="../../assets/img/Bea/Váy/2b.jpg" class="pop-up"><img
                                                src="../../assets/img/Bea/Váy/2b.jpg" alt=""></a>
                                    </div>
                                </figure>
                                <div class="product-text">
                                    <a href="#">
                                        <h6>váy nữ</h6>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="../../assets/img/Bea/Váy/20c.jpg" alt="">
                                    <div class="p-status">149.000</div>
                                </figure>
                                <div class="product-text">
                                    <a href="#">
                                        <h6>váy nữ</h6>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="../../assets/img/Bea/Váy/3a.jpg" alt="">
                                    <div class="hover-icon">
                                        <a href="../../assets/img/Bea/Váy/3b.jpg" class="pop-up"><img
                                                src="../../assets/img/Bea/Váy/3b.jpg" alt=""></a>
                                    </div>
                                </figure>
                                <div class="product-text">
                                    <a href="#">
                                        <h6>váy nữ</h6>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/4a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/4b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/4b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/5a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/5b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/5b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/6a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/6b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/6b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/1a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/1b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/1b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/8a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/8b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/8b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/7a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/7b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/7b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/10a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/10b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/10b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                          
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/11a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/11b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/11b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/12a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/12b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/12b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/13a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/13b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/13b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/14a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/14b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/14b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                          
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/15a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/15b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/15b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/16a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/16b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/16b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/17a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/17b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/17b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/18a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/18b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/18b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                          
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/19a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/19b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/19b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/20a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/20b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/20b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/21a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/21b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/21b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/22a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/22b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/22b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6">
                    <div class="single-product-item">
                        <figure>
                            <img src="../../assets/img/Bea/Váy/23a.jpg" alt="">
                            <div class="p-status">149.000</div>
                            <div class="hover-icon">
                                <a href="../../assets/img/Bea/Váy/23b.jpg" class="pop-up"><img src="../../assets/img/Bea/Váy/23b.jpg"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="#">
                                <h6>váy nữ</h6>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

