<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h4>QUẦN ÁO BÉ TRAI<span>.</span></h4>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="../../assets/img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container">
        <div class="categories-controls">
            <div class="row">
                <div class="col-lg-12">
                    <div class="categories-filter">                       
                        <div class="cf-right">
                            <span>20 Products</span>
                            <a href="#">2</a>
                            <a href="#" class="active">4</a>
                            <a href="#">6</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp2.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp2s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp2s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé gái/sp1.jpg" alt="">
                                <div class="p-status">149.000</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé gái</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                                <div class="p-status">149.000</div>
                                <div class="hover-icon">
                                    <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img
                                            src="../../assets/img/Bea/Bé gái/sp12s.jpg" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé gái</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé gái/sp3.jpg" alt="">
                                <div class="p-status">149.000</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé gái</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé gái/sp5.jpg" alt="">
                                <div class="hover-icon">
                                    <a href="../../assets/img/Bea/Bé gái/sp5s.jpg" class="pop-up"><img
                                            src="../../assets/img/Bea/Bé gái/sp5s.jpg" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé gái</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/10a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/10b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/10b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/11a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/11b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/11b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/12a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/12b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/12b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/13a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/13b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/13b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/14a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/14b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/14b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/15a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/15b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/15b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/16a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/16b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/16b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                      
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/17a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/17b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/17b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/18a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/18b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/18b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/19a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/19b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/19b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/20a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/20b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/20b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                      
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/21a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/21b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/21b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/22a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/22b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/22b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/23a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/23b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/23b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/24a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/24b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/24b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                      
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/25a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/25b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/25b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/26a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/26b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/26b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/27a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/27b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/27b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/28a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/28b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/28b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/29a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/29b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/29b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
