<router-outlet></router-outlet>
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h4>QUẦN ÁO BÉ TRAI</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="../../assets/img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container">
        <div class="categories-controls">
            <div class="row">
                <div class="col-lg-12">
                    <div class="categories-filter">                       
                        <div class="cf-right">
                            <span>20 Products</span>
                            <a href="#">2</a>
                            <a href="#" class="active">4</a>
                            <a href="#">6</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp1s.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp1s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp1s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé trai/sp2.jpg" alt="">
                                <div class="p-status">149.000</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé trai</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé trai/sp4.jpg" alt="">
                                <div class="p-status">149.000</div>
                                <div class="hover-icon">
                                    <a href="../../assets/img/Bea/Bé trai/sp4s.jpg" class="pop-up"><img
                                            src="../../assets/img/Bea/Bé trai/sp4s.jpg" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé trai</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé trai/sp3.jpg" alt="">
                                <div class="p-status">149.000</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé trai</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                                <div class="hover-icon">
                                    <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img
                                            src="../../assets/img/Bea/Bé trai/sp6s.jpg" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé trai</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp7.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp7s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp7s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/1a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/1b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/1b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="assets/img/Bea/Bé trai/2a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/2b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/2b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/3a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/3b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/3b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/4a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/4b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/4b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/5a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/5b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/5b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/6a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/6b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/6b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/7a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/7b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/7b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/8a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/8b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/8b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/9a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/9b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/9b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/10a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/10b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/10b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/11a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/11b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/11b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/12a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/12b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/12b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/13a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/13b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/13b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/14a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/14b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/14b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/15a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/15b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/15b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/16a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/16b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/16b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/17a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/17b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/17b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/18a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/18b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/18b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/19a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/19b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/19b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/20a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/20b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/20b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/21a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/21b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/21b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/22a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/22b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/22b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/23a.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/23b.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/23b.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="more-product">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#" class="primary-btn">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
